<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                colors: {
                    'platinum': '#efefef',
                    'jet-black': '#2b303a',
                    'frosted-blue': '#92dce5',
                    'lavender-blush': '#eee5e9',
                    'custom-grey': '#7c7c7c',
                    'burnt-tangerine': '#d64933'
                }
            }
        }
    </script>
    <title>Document</title>
</head>

<body class="bg-platinum">
    <header class="bg-jet-black border flex justify-around p-10">
        <a href="/" class="text-2xl">Projet libre</a>

        <!--Barre de recherche-->
        <form action="/search" method="get" class="">
            <input type="text" name="q" placeholder="Recherche" class="">
            <button type="submit" class="">🔎</button>
        </form>

        <!--Menu navigation-->
        <nav>
            <ul class="flex flex-row-reverse gap-3">
                {% if session['user'] %}
                    <li> <a href="/publish" class=" p-2">Publish</a></li>
                    <li><a href="/signout" class=" p-2">Signout</a></li>
                {% else %}
                    <li> <a href="/signin" class=" p-2">Signin</a></li>
                    <li><a href="/signup" class=" p-2">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="pt-10 pb-10">
    {% block content %}
    <!-- Contenu contextuel-->
    {% endblock %}
    </main>

    <footer class="bg-jet-black text-center p-10">
        <p>Mateo DP Sutdio 2025</p>
    </footer>
</body>
</html>