<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

    {% if session['user'] and user_post is not none %}

        <section>
            <h2>Your posts</h2>
            <hr>

            <!--Section de la grille d'anonce-->
            <section class="grid grid-rows-2 grid-cols-4 gap-5 p-5">

                <!--structure bloc d'annonce-->
                {% for user_post in user_post %}
                <article class="">
                    <h3 class="">{{user_post['title']}}</h3>
                    <hr>
                    <p class="">{{user_post['content']}}</p>
                    <p class="">{{user_post['author']}}</p>
                </article>
                {% endfor %}
            </section>
        </section>

    {% endif %}

    <section>
        <h2>Trending posts</h2>
        <hr>
        
        <!--Section de la grille d'anonce-->
        <section class="grid grid-flow-row grid-cols-4 gap-5 p-5">

            <!--structure bloc d'annonce-->
            {% for trending_post in trending_post %}
            <article class="">
                <h3 class="">{{trending_post['title']}}</h3>
                <hr>
                <p class="">{{trending_post['content']}}</p>
                <p class="">{{trending_post['author']}}</p>
            </article>
            {% endfor %}
        </section>
    </section>

{% endblock %}
